@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

html, body {
  margin: 0;
  padding: 0;
  background-color: #161718;
  color: #FFF;
}
.jumbotron {
  background: url("http://i.cubeupload.com/fqoYOo.jpg") no-repeat center center;
  background-size: cover;
  padding: 4rem;
}
.header #logo {
  width: 12rem;
  height: auto;
  display: inline-block;
}
.header ul {
  list-style: none;
  display: inline-block;
  margin-top: 4.6rem;
}
.header li {
  padding: 0 1.5rem;
  display: inline;
}
.header li a {
  cursor: pointer;
  color: #FFF;
  font-size: 1.6rem;
  transition: border-bottom 200ms;
  -webkit-transition: border-bottom 200ms;
  -o-transition: border-bottom 200ms;
  -moz-transition: border-bottom 200ms;
}
.header li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #FF003D;
}
.header .btn {
  color: #FF003D;
  background-color: transparent;
  padding: 1rem 2rem;
  border: 2px solid #FF003D;
  border-radius: 8px;
  transition: background .16s;
  -webkit-transition: background .16s;
  -o-transition: background .16s;
  -moz-transition: background .16s;
}
.header .btn:hover {
  background-color: #FF003D;
  color: #FFF;
  border: 2px solid #FF003D;
}
.main h1 {
  font-size: 8rem;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #FFF;
  text-shadow: .4px .4px #000;
  margin-top: 4rem;
  animation: 1.6s ease 0s 4 normal both running pulse;
  -webkit-animation: 1.6s ease 0s 4 normal both running pulse;
  -moz-animation: 1.6s ease 0s 4 normal both running pulse;
}
.main h1 #h1-point {
  font-size: 8rem;
}
.main h1 span {
  font-size: 11rem;
  font-weight: bold;
}
.main p {
  position: relative;
  font-size: 22px;
  font-weight: 300;
  text-shadow: .4px .4px #000;
  text-decoration: none;
  padding-bottom: 16px;
}
.main p:before {
  position: absolute;
  content: "";
  width: 70%;
  height: 8px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  background-color: #FF003D;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  animation: 1.6s ease 0s 1 normal both running underline;
  -webkit-animation: 1.6s ease 0s 1 normal both running underline;
}
.main p a {
  color: #FFF;
  font-weight: bold;
  transition: .4s;
  -webkit-transition: .4s;
}
.main p a:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
}
.main .points {
  color: #FF003D;
}
.main .features {
  margin-bottom: 2.5rem;
}
.main .features img {
  width: 10rem;
  margin: 4rem;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
.main #arrow {
  width: 10rem;
  height: auto;
  animation: 1.6s ease 0s infinite normal both running pulse-infinite;
  -webkit-animation: 1.6s ease 0s infinite normal both running pulse-infinite;
}
.supporting {
  padding: 6rem 2rem;
}
.supporting:nth-child(2) {
  padding-top: 40px;
}
.supporting:nth-child(2n+1) {
  background-color: #000;
  padding-left: 100px;
}
.supporting img {
  width: 60%;
  height: auto;
}
.supporting .img-lg {
  width: 80%;
}
.supporting h2 {
  font-size: 46px;
}
.supporting p {
  width: 90%;
  font-size: 22px;
  font-weight: 300;
  text-shadow: .5px .5px .5px #000;
}
.supporting p span {
  color: #FF003D
}
.supporting .btn {
  font-size: 26px;
  color: #FF003D;
  background-color: transparent;
  border: 1px solid #FF003D;
  border-radius: 5px;
  margin-top: 10px;
  transition: background .2s;
  -webkit-transition: background .2s;
}
.supporting .btn:hover {
  background-color: #FF003D;
  color: #FFF;
}
.download {
  min-height: 440px;
  background: url('http://i.cubeupload.com/2ebeUY.jpeg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 48px 0;
}
.download #app {
  display: block;
  margin: 0 auto;
  padding-bottom: 48px;
  width: 240px;
  height: auto;
  filter: contrast(1.2) brightness(120%);
  animation: 1.6s ease 0s infinite normal both running pulse-infinite-2;
  -webkit-animation: 1.6s ease 0s infinite normal both running pulse-infinite-2;
}
.download #app:hover {
  cursor: pointer;
}
.download .store {
  display: inline-block;
  height: 60px;
  width: auto;
  margin: 0 20px;
}
.download .store:hover {
  cursor: pointer;
}
.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 48px;
}
.footer h4 {
  margin-top: 34px;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  transition: .32s;
  -webkit-transition: .32s;
}
.footer h4:hover {
  color: #FF003D;
  cursor: pointer;
}
.footer a {
  display: block;
  color: #FFF;
}
.footer a:hover {
  text-decoration: underline solid #FF003D;
  -webkit-text-decoration: underline solid #FF003D;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes underline {
  to {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes pulse-infinite {
  from {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.16, 1.16, 1.16);
    -webkit-transform: scale3d(1.16, 1.16, 1.16);
  }

  to {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse-infinite-2 {
  from {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.04, 1.04, 1.04);
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
  }

  to {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 992px) {
  .header li a {
    font-size: 1.5rem;
  }
  .main h1 {
    font-size: 6rem;
  }
  .main h1 span {
    font-size: 8rem;
    display: block;
  }
  .main .points {
    display: inline;
  }
  .main p {
    font-size: 1.8rem;
    margin-top: 3rem;
    padding-bottom: 0;
  }
  .main p:before {
    display: none;
  }
  .main .features img {
    width: 8rem;
  }
  .supporting {
    text-align: center;
  }
  .supporting:nth-child(2) {
    padding-left: 0;
  }
  .supporting:nth-child(2n+1) {
    padding-left: 0;
  }
  .supporting img {
    width: 50%;
    margin: 0;
    padding: 0;
  }
  .supporting .img-lg {
    width: 60%;
    padding-bottom: 4rem;
  }
  .supporting p {
    padding-left: 6rem;
  }
  .supporting #world {
    margin-top: 4rem;
  }
  .download #app {
    width: 150px;
  }
  .download .store {
    height: 40px;
  }
}
