html, body {
  margin: 0;
  padding: 0;
  background-color: #161718;
  color: #FFF;
}

.jumbotron {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 60px 80px;
  min-height: 700px;
}

.header {
  margin-bottom: 66px;
}

.header #logo {
  width: 120px;
  height: auto;
  display: inline-block;
}

.header ul {
  list-style: none;
  display: inline-block;
  margin-top: 40px;
}

.header li {
  padding: 0 14px;
  display: inline;
}

.header li a {
  cursor: pointer;
  color: #FFF;
  font-size: 17px;
}

.header li a:hover {
  text-decoration: none;
  border-bottom: 1.5px solid #FF003D;
}

.header .btn {
  color: #FF003D;
  background-color: transparent;
  border: 2.2px solid #FF003D;
  border-radius: 6px;
  transition: background .15s;
}

.header .btn:hover {
  background-color: #FF003D;
  color: #FFF;
  border: 2.2px solid #FF003D;
}

.main {
  text-align: center;
}

.main h1 {
  font-family: Imprima, sans-serif;
  font-size: 60px;
  color: #FFF;
  text-shadow: .5px .5px #000;
  font-weight: bold;
}

.main h1 .lg-text {
  font-size: 96px;
}

.main h1 .points {
  color: #FF003D;
}

.main h3 {
  font-size: 26px;
  font-weight: 300;
  text-shadow: .5px .5px #000;
  margin-bottom: 38px;
}

.main h3 span {
  color: #FF003D;
}

.main .features {
  margin-bottom: 32px;
}

.main .features-img {
  height: 126px;
  margin: 10px 32px;
  display: inline-block;
  animation:
    stretch
    1.5s
    ease-out
    0s
    alternate
    infinite
    none
    running;
    transition: background .6s;
}

@keyframes stretch {
  0% {
    filter: opacity(30%);
  }
  100% {
    filter: initial;
  }
}

.main .features-img:hover {
  cursor: pointer;
}

.main #play {
  background: url('https://image.ibb.co/moCvck/play.png') no-repeat center center;
  width: 76px;
}

.main #play:hover {
  background: url('https://image.ibb.co/guD1Hk/play_hover.png') no-repeat center top;
}

.main #add {
  background: url('https://image.ibb.co/kVbhOQ/add.png') no-repeat center center;
  width: 111px;
}

.main #add:hover {
  background: url('https://image.ibb.co/fNiU3Q/add_hover.png') no-repeat center top;
}

.main #love {
  background: url('https://image.ibb.co/bKqLA5/love.png') no-repeat center center;
  width: 91px;
}

.main #love:hover {
  background: url('https://image.ibb.co/ixu8xk/love_hover.png') no-repeat center top;
}

.main a {
  font-size: 32px;
  color: #FF003D;
  transition: .2s;
  text-shadow: .5px .5px #000;
  font-weight: 600;
  margin-bottom: 100px;
}

.main a span {
  color: #FFF;
  transition: .2s;
}

.main a:hover {
  text-decoration: none;
  color: #FFF;
}

.main a span:hover {
  color: #FF003D;
}

.supporting {
  padding: 70px 0;
}

.supporting:nth-child(2n+1) {
  background-color: #000;
  padding-left: 100px;
}

.supporting img {
  width: 60%
}

.supporting h2 {
  font-size: 46px;
}

.supporting p {
  width: 90%;
  font-size: 22px;
  font-weight: 300;
  text-shadow: .5px .5px .5px #000;
}

.supporting p span {
  color: #FF003D
}

.supporting .btn {
  font-size: 26px;
  color: #FF003D;
  background-color: transparent;
  border: 1px solid #FF003D;
  border-radius: 5px;
  transition: background .2s;
  margin-top: 10px;
}

.supporting .btn:hover {
  background-color: #FF003D;
  color: #FFF;
}

.download {
  min-height: 400px;
  background: url("https://imgni.com/images/2017/05/02/iphone-3.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.download #app {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(5px 2px 2px rgb(0,0,0));
}

.download .store {
  width: 185px;
  height: auto;
}

.download .store:hover {
  filter: contrast(130%);
}

.footer {
  height: 150px;
  text-align: center;
}

.footer h4 {
  margin-top: 34px;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  transition: .2s;
}

.footer h4:hover {
  color: #FF003D;
  cursor: pointer;
}

.footer a {
  display: block;
  color: #FFF;
}

.footer a:hover {
  -webkit-text-decoration: underline solid #FF003D;
}
